body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'SF';
  font-size: 20pt;
  overflow: hidden;
  overflow-y: scroll;
}

html {
  background-color: #0A5167;
}

#header {
  background-color: #0088b4;
  width: 100%;
  font-family: 'circula';
  font-size: 42pt;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -5px 15px black;
  background-image: url("imac-back.png");
  background-position: 100% 50%;
  background-size: 100% auto;
  height: 200px;
}

#logo-img {
  width: 200px;
}

.typed {
  width: 40%;
}

.typed-cursor{
    opacity: 1;
    color: white;
    font-size: 34pt;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@font-face {
  font-family: 'circula';
  src: url('graphics/circula/circula-medium.otf');
}

@font-face {
  font-family: 'SF';
  src: url('SFFont/System San Francisco Display Thin.ttf');
}

.parallax-picture {
  height: 200px;
  width: 100%;
  background-image: url("graphics/background-xcode.jpg");
  z-index: -1;
  background-attachment: fixed;
  background-size: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.overlay {
  color: blue;
  opacity: 0.6;
}

#team {
  display: flex;
  height: 200px;
  width: 70%;
  flex-direction: row;
}

.guy {
  display: flex;
  flex-direciton: row;
  width: 400px;
  margin: auto;
}

.guy-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.pic-portrait {
  border-radius: 50%;
  border: 5pt solid white;
  box-shadow: 0pt 0pt 5pt black;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-right: 40px;
}

.description {
  font-size: 14pt;
}

#gradeup {
  display: flex;
  width: 50%;
  flex-direction: row;
}

#gradeup .item {
  margin: auto;
  width: 250px;
}
